// Red
$red-color:            #FFFFFF;
$red-background-color: #E53935;
$red-border-color:     #E53935;

// Pink
$pink-color:            #FFFFFF;
$pink-background-color: #D81B60;
$pink-border-color:     #D81B60;

// Purple
$purple-color:            #FFFFFF;
$purple-background-color: #8E24AA;
$purple-border-color:     #8E24AA;

// Deep Purple
$deep-purple-color:            #FFFFFF;
$deep-purple-background-color: #5E35B1;
$deep-purple-border-color:     #5E35B1;

// Indigo
$indigo-color:            #FFFFFF;
$indigo-background-color: #3949AB;
$indigo-border-color:     #3949AB;

// Blue
$blue-color:            #FFFFFF;
$blue-background-color: #1E88E5;
$blue-border-color:     #1E88E5;

// Light Blue
$light-blue-color:            #FFFFFF;
$light-blue-background-color: #039BE5;
$light-blue-border-color:     #039BE5;

// Cyan
$cyan-color:            #FFFFFF;
$cyan-background-color: #00ACC1;
$cyan-border-color:     #00ACC1;

// Teal
$teal-color:            #FFFFFF;
$teal-background-color: #00897B;
$teal-border-color:     #00897B;

// Green
$green-color:            #FFFFFF;
$green-background-color: #43A047;
$green-border-color:     #43A047;

// Light Green
$light-green-color:            #FFFFFF;
$light-green-background-color: #7CB342;
$light-green-border-color:     #7CB342;

// Lime
$lime-color:            #FFFFFF;
$lime-background-color: #C0CA33;
$lime-border-color:     #C0CA33;

// Yellow
$yellow-color:            #FFFFFF;
$yellow-background-color: #FDD835;
$yellow-border-color:     #FDD835;

// Amber
$amber-color:            #FFFFFF;
$amber-background-color: #FFB300;
$amber-border-color:     #FFB300;

// Orange
$orange-color:            #FFFFFF;
$orange-background-color: #FB8C00;
$orange-border-color:     #FB8C00;

// Deep Orange
$deep-orange-color:            #FFFFFF;
$deep-orange-background-color: #F4511E;
$deep-orange-border-color:     #F4511E;

// Brown
$brown-color:            #FFFFFF;
$brown-background-color: #6D4C41;
$brown-border-color:     #6D4C41;

// Grey
$grey-color:            #FFFFFF;
$grey-background-color: #757575;
$grey-border-color:     #757575;

// Blue Grey
$blue-grey-color:            #FFFFFF;
$blue-grey-background-color: #546E7A;
$blue-grey-border-color:     #546E7A;